*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;

}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: row;
    height: 100vh;
}
#container .box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10%;
}
